/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6a11cb;
}

/* Container pour la page d'accueil */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
}

.navbar a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.gallery-container {
  margin-top: 20px;
}

.tabs {
  margin-bottom: 20px;
}

.tab-button {
  background-color: #2575fc;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.tab-button:hover {
  background-color: #6a11cb;
}

.tab-content {
  display: none;
  margin-top: 20px;
}

.tab-content-section {
  display: none;
}

.tab-content-section img, .tab-content-section video {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.tab-content-section img:hover, .tab-content-section video:hover {
  transform: scale(1.1);
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  margin-top: 40px;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.gallery-container {
  animation: fadeIn 0.5s ease-out;
}
